In [23]:
import pandas as pd
import matplotlib.pyplot as plt 

import numpy as np
import scipy as sp
import scipy.interpolate

from numba import jit

In [48]:
def delta_day(date1,date2):
    return (date2-date1) / np.timedelta64(1,'D')

def log_interp1d(xx, yy, kind='linear'):
    logx = np.log10(xx)
    logy = np.log10(yy)
    lin_interp = sp.interpolate.interp1d(logx, logy, kind=kind)
    log_interp = lambda zz: np.power(10.0, lin_interp(np.log10(zz)))
    return log_interp

In [62]:
data = pd.read_excel('Bloom_EUR_OIS.xlsx')

In [63]:
data.head()

,Payment Date,Maturity Date,Market Rate,Shift (bp),Shifted Rate,Zero Rate,Discount,Source
0,01/06/2021,01/06/2021,-0.4980,0,-0.4980,-0.504920,1.000014,CASH
1,01/12/2021,01/12/2021,-0.4700,0,-0.4700,-0.476550,1.000091,DETAILED_SWAP
2,01/19/2021,01/19/2021,-0.4700,0,-0.4700,-0.476572,1.000183,DETAILED_SWAP
3,02/05/2021,02/05/2021,-0.4719,0,-0.4719,-0.478551,1.000407,DETAILED_SWAP
4,03/05/2021,03/05/2021,-0.4750,0,-0.4750,-0.481785,1.000779,DETAILED_SWAP

In [76]:
class Stripper():
    def __init__(self, data,start='2021-01-06',end='2071-01-05', freq = 3): #yyyy-mm-dd
        self.data = data
        self.start = np.datetime64(start)
        self.end = np.datetime64(end)
        
        self.total_dates = [self.start]
        
        while self.total_dates[-1] != self.end:
            self.total_dates.append(self.total_dates[-1] + np.timedelta64(1, 'D'))
            
        self.total_steps = [delta_day(self.start, day) for day in self.total_dates]
        ## Interpolation
        
        data_t  = [delta_day(np.datetime64(date),self.start) for date in pd.to_datetime(data['Payment Date'])]
        data_df = data['Discount']
        
        self.total_df = np.vectorize(log_interp1d(data_t, data_df))(self.total_steps)

In [77]:
stripper = Stripper(data)

<ipython-input-48-b9a642589c6c>:5: RuntimeWarning: divide by zero encountered in log10
  logx = np.log10(xx)
<ipython-input-48-b9a642589c6c>:5: RuntimeWarning: invalid value encountered in log10
  logx = np.log10(xx)
<ipython-input-48-b9a642589c6c>:8: RuntimeWarning: divide by zero encountered in log10
  log_interp = lambda zz: np.power(10.0, lin_interp(np.log10(zz)))

In [78]:
stripper.total_df

array([nan, nan, nan, ..., nan, nan, nan])